<div
  class="login-containerc"
  style="display: flex; justify-content: center; padding-top: 3%;"
>
  <!-- this div contains whole form-->
  <div class="col-md-4">
    <div
      style="text-align: center; background-color: white; border: 2px solid white;"
    >
      <form name="loginForm" id="loginForm" [formGroup]="loginForm">
        <div class="col-md-12" style="padding-bottom: 10%; padding-top: 1%;">
          <div
            class="col-md-12"
            style="align-items: center; 
                  display: flex; flex-direction: column; padding-bottom: 4%; margin-top: 5%;"
          >
            <div class="col-md-12">
              <h4 style="font-weight: bolder;">LOGIN</h4>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-12">
              <label style="float: left; font-size: 15px">
                Email address:
              </label>
              <div
                class="col-md-12 row form-outline mb-4"
                style="display: contents; "
              >
                <input
                  [class.is-invalid]="
                    loginForm.get('email')?.invalid &&
                    loginForm.get('email')?.touched
                  "
                  type="email"
                  class="form-control"
                  formControlName="email"
                  required
                  placeholder="email address"
                />
              </div>
              <div class="col-md-12" style="display: flex">
                <div
                  *ngIf="
                    (loginForm.get('email')?.invalid &&
                      loginForm.get('email')?.touched) ||
                    loginForm.get('email')?.dirty
                  "
                >
                  <label
                    *ngIf="loginForm.get('email')?.hasError('required')"
                    class="text-danger"
                    ><small> Email address is required</small></label
                  >
                  <label
                    *ngIf="loginForm.get('email')?.hasError('email')"
                    class="text-danger"
                    ><small>Please provide a valid email address</small></label
                  >
                  <label *ngIf="errorMessage" class="text-danger"
                    ><small>Incorrect email address or password</small></label
                  >
                </div>
              </div>
            </div>

            <div class="col-md-12" style="margin-top: 2%;">
              <label style="float: left;font-size: 15px"> Password: </label>
              <div
                class="col-md-12 form-outline mb-4"
                style="display: contents; "
              >
                <input
                  type="password"
                  id="passwordValue"
                  formControlName="password"
                  required
                  class="form-control"
                  placeholder="password"
                />
              </div>
            </div>
            <div
              class="col-md-12"
              style="align-items: center;margin-top: 2%;
                      display: flex; flex-direction: column;"
            >
              <div class="col-md-12" style="margin-top: 5%">
                <button
                  type="button"
                  (click)="signIn()"
                  class="log"
                  [disabled]="loginForm.invalid || loginForm.pending"
                >
                  <h6>Sign in</h6>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
