<div
  class="register-containerc col-md-12"
  style="display: flex;
justify-content: center;
justify-items: center;
  font-size:15px;"
>
  <!-- this div contains whole form-->
  <div
    class="col-md-4 form-container"
    style="
  background-color: white;
  margin-top: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
"
  >
    <div class="col-md-12" style="text-align: justify;">
      <form name="registerForm" id="registerForm" [formGroup]="registerForm">
        <div class="col-md-12">
          <!-- sign up -->
          <div
            class="col-md-12"
            style="align-items: center; text-align: center;
              display: flex; flex-direction: column; padding-bottom: 4%;"
          >
            <h4 style="font-weight: bolder;">SIGN UP</h4>
          </div>
          <div class="col-md-12" style="display: flex;">
            <!-- first name -->
            <div class="col-md-5" style="padding-left: 0%; padding-right: 0%;">
              <label style="float: left;">First name: </label>
              <div
                class="col-md-12 row form-outline mb-4"
                style="display: contents; "
              >
                <input
                  [class.is-invalid]="
                    registerForm.get('firstName')?.invalid &&
                    registerForm.get('firstName')?.touched
                  "
                  type="firstName"
                  class="form-control"
                  formControlName="firstName"
                  required
                  placeholder="First name"
                />
              </div>
              <div
                *ngIf="
                  (registerForm.get('firstName')?.invalid &&
                    registerForm.get('firstName')?.touched) ||
                  registerForm.get('firstName')?.dirty
                "
              >
                <div
                  *ngIf="registerForm.get('firstName')?.errors?.required"
                  class="text-danger"
                >
                  Please enter first name
                </div>
              </div>
            </div>
            <!-- last name-->
            <div
              class="col-md-6"
              style="padding-left: 0%; padding-right: 0%; margin-left:auto;"
            >
              <label style="float: left;">Last name: </label>
              <div
                class="col-md-12 form-outline mb-4"
                style="display: contents; "
              >
                <input
                  type="text"
                  id="lastName"
                  formControlName="lastName"
                  required
                  class="form-control"
                  placeholder="Last name"
                />
              </div>
              <div
                *ngIf="
                  (registerForm.get('lastName')?.invalid &&
                    registerForm.get('lastName')?.touched) ||
                  registerForm.get('lastName')?.dirty
                "
              >
                <div
                  *ngIf="registerForm.get('lastName')?.errors?.required"
                  class="text-danger"
                >
                  Please enter last name
                </div>
              </div>
            </div>
          </div>
          <!-- email address-->
          <div class="col-md-12" style="margin-top: 1%;">
            <label style="float: left;">Email address: </label>
            <div
              class="col-md-12 row form-outline mb-4"
              style="display: contents; "
            >
              <input
                [class.is-invalid]="
                  registerForm.get('email')?.invalid &&
                  registerForm.get('email')?.touched
                "
                type="email"
                class="form-control"
                formControlName="email"
                required
                placeholder="Email address"
              />
            </div>
            <div
              *ngIf="
                (registerForm.get('email')?.invalid &&
                  registerForm.get('email')?.touched) ||
                registerForm.get('email')?.dirty
              "
            >
              <label
                *ngIf="registerForm.get('email')?.hasError('required')"
                class="text-danger"
                >Email address is required</label
              >
              <label
                *ngIf="registerForm.get('email')?.hasError('pattern')"
                class="text-danger"
                >Please provide a valid email address</label
              >
            </div>
          </div>
          <!-- DOB -->
          <div class="col-md-12" style="margin-top: 1%;">
            <label style="float: left;" for="dob">Date of Birth</label>
            <div
              class="col-md-12 form-outline mb-4"
              style="display: contents; "
            >
              <input
                type="date"
                id="dateOfBirth"
                formControlName="dateOfBirth"
                required
                class="form-control"
                placeholder="Last name"
              />
            </div>
            <div
              *ngIf="
                (registerForm.get('dateOfBirth')?.invalid &&
                  registerForm.get('dateOfBirth')?.touched) ||
                registerForm.get('dateOfBirth')?.dirty
              "
            >
              <div
                *ngIf="registerForm.get('dateOfBirth')?.errors?.required"
                class="text-danger"
              >
                Please select date of birth from the calendar
              </div>
              <div
                *ngIf="
                  registerForm.get('dateOfBirth')?.errors?.invalidDateOfBirth
                "
                class="text-danger"
              >
                Date of birth cannot be more than current date
              </div>
            </div>
          </div>
          <!-- Phone number-->
          <div class="col-md-12" style="margin-top: 1%;">
            <label style="float: left;">Phone number: </label>
            <div
              class="col-md-12 form-outline mb-4"
              style="display: contents; "
            >
              <input
                type="text"
                id="phoneNumber"
                formControlName="phoneNumber"
                required
                class="form-control"
                placeholder="Phone number"
                maxlength="10"
              />
            </div>
            <div
              *ngIf="
                (registerForm.get('phoneNumber')?.invalid &&
                  registerForm.get('phoneNumber')?.touched) ||
                registerForm.get('phoneNumber')?.dirty
              "
            >
              <div
                *ngIf="registerForm.get('phoneNumber')?.errors?.required"
                class="text-danger"
              >
                Phone number is required
              </div>
              <div
                *ngIf="registerForm.get('phoneNumber')?.errors?.pattern"
                class="text-danger"
              >
                Invalid phone number
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <!--Password-->
            <div
              class="col-md-5"
              style="margin-top: 1%; padding-left: 0%; padding-right: 0%; float: left;"
            >
              <label style="float: left;">Password: </label>
              <div
                class="col-md-12 form-outline mb-4"
                style="display: contents; "
              >
                <input
                  type="password"
                  id="passwordValue"
                  formControlName="password"
                  required
                  class="form-control"
                  placeholder="Password"
                />
              </div>
            </div>
            <!--confirm Password-->
            <div
              class="col-md-6"
              style="margin-top: 1%; padding-left: 0%; padding-right: 0%; float: right;"
            >
              <label style="float: left;">Confirm password: </label>
              <div
                class="col-md-12 form-outline mb-4"
                style="display: contents; "
              >
                <input
                  type="password"
                  id="confirmPassword"
                  formControlName="confirmPassword"
                  required
                  class="form-control"
                  placeholder="Confirm password"
                  [ngClass]="{
                    'invalid-input':
                      registerForm.get('confirmPassword')?.errors
                        ?.passwordMismatch,
                    'valid-input': registerForm.get('confirmPassword')?.valid
                  }"
                />
                <div
                  *ngIf="
                    registerForm.get('confirmPassword')?.errors
                      ?.passwordMismatch
                  "
                  class="text-danger"
                >
                  Passwords do not match
                </div>
              </div>
            </div>
          </div>
          <!--sign up button -->
          <div
            class="col-md-12"
            style="display: flex; padding-top: 10%; justify-content: center;"
          >
            <button
              type="button"
              (click)="signUp()"
              class="log"
              [disabled]="true"
            >
              <h6>Sign up</h6>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--                            
-->
